<section id="wrapper" class="login-register login-sidebar"
         style="background-image:url(./assets/images/background/login-register.jpg);text-align: center">

  <div class="login-box card">
    <div *ngIf="submitFormTrue" class="alert alert-success alert-dismissible fade show" role="alert">
      user created successfully!<strong><a routerLink="/login" class="alert-link">return home</a></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="card-header">
      <a href="javascript:void(0)" class="text-center "><br/>
        <img src="./assets/images/icon/staff.png" alt="Home"/>
      </a><br>
      <h5>Register User</h5>
    </div>
    <div class="card-body">

      <form class="form-horizontal form-material"
            autocomplete="off"
            [formGroup]="registerForm">
        <div class="row" style="text-align: initial">
          <div class="col-6">
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control"
                       type="text"
                       placeholder="Name"
                       formControlName="namePerson">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control"
                       type="text"
                       placeholder="LastName"
                       formControlName="lastNamePerson">
              </div>
            </div>
          </div>
          <div *ngIf="(registerForm.get('namePerson')?.hasError('required')&& submitForm)">
            <span style="color: #ef0a0a">
              name <strong>Required</strong>
            </span>
          </div>
          <div *ngIf="(registerForm.get('lastNamePerson')?.hasError('required')&& submitForm)">
            <span style="color: #ef0a0a">
              LastName <strong>Required</strong>
            </span>
          </div>
          <div class="row g-2" style="margin-top: 0">
            <div class="col-4" style="text-align: initial">
              <select class="form-select" aria-label="Default select example" id="selectRegister" >
                <option value="1">CC</option>
                <option value="2">CE</option>
                <option value="3">CI</option>
              </select>
            </div>
            <div class="col-8">
              <div class="col-xs-12" >
                <input class="form-control"
                       type="number"
                       placeholder="identificacion"
                       formControlName="identification">
              </div>
            </div>
          </div>
          <div *ngIf="(registerForm.get('identification')?.hasError('required')&& submitForm)">
            <span style="color: #ef0a0a">
              Document <strong> required</strong>
            </span>
          </div>

          <div class="col-12" style="margin-top: 3px">
            <div class="col-xs-12">
              <input class="form-control"
                     type="email"
                     placeholder="Email"
                     formControlName="email">
            </div>
          </div>
          <div *ngIf="(registerForm.get('email')?.hasError('email') && submitForm)"
               style="padding: 0px;">
            <span style='color: #ef0a0a'>
              Email format <strong>Invalid</strong>
            </span>
          </div>
          <div *ngIf="(registerForm.get('email')?.hasError('required')&& submitForm)">
            <span style="color: #ef0a0a">
               Email <strong>is required</strong>
            </span>
          </div>
          <div class="col-12" style="margin-top: 3px">
            <div class="col-xs-12">
              <input class="form-control"
                     type="text"
                     placeholder="User"
                     formControlName="user">
            </div>
          </div>
          <div *ngIf="(registerForm.get('user')?.hasError('required')&& submitForm)">
            <span style="color: #ef0a0a">
              User <strong>is required</strong>
            </span>
          </div>

          <div class="col-12" style="margin-top: 3px">
            <div class="col-xs-12">
              <input class="form-control"
                     type="password"
                     placeholder="Password"
                     formControlName="password">
            </div>
          </div>
          <div *ngIf="(registerForm.get('password')?.hasError('required')&& submitForm) ">
            <span style="color: #ef0a0a">
              password <strong>is required</strong>
            </span>
          </div>


          <div class="form-group text-center" style="margin-top: 2vh">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg  btn-rounded" (click)="register()">Register</button>
            </div>
          </div>
          <div class="form-group " style="text-align: center">
            <div class="col-sm-12">
              <a routerLink="/login" class="">
                <b>Sing in</b>
              </a>
            </div>
          </div>
        </div>


      </form>
    </div>

  </div>

</section>
